<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Purchases</title>
</head>
<body>
    <div>Hello, {{ username }}</div>
    <div>id: {{ purchase.id }}, user id: {{ purchase.user_id }}, book id: {{ purchase.book_id }}, date: {{ purchase.date }}, user first name: {{ purchase.user.first_name }}, book title: {{ purchase.book.title }}</div>
    <button onclick="location.href='/logout'" type="button">Logout</button>
</body>
</html>